@tailwind base;
@tailwind components;
@tailwind utilities;
@keyframes blink {
    0%, 100% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
  }
  
  .dot1 {
    animation: blink 1.5s infinite 0s;
  }
  
  .dot2 {
    animation: blink 1.5s infinite 0.3s;
  }
  
  .dot3 {
    animation: blink 1.5s infinite 0.6s;
  }
  
  /* Optional: Custom Scrollbar */
  ::-webkit-scrollbar {
    width: 6px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: white; /* Purple scrollbar */
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #9333ea;
  }
  
  